body {
margin:0;
padding:0;
font-family:verdana, helvetica, arial, sans-serif;
font-size:0.80em;
color:#4D4D4D;


}

html, body {
height:100%;
}


/*
html, body, #container {height: 100%;}
body  > #container {height: auto; min-height: 100%;}
*/


.wrap {width:930px;}

p {margin:2px 0 2px 0;}
h1 {display:none;}
a {color:#2C6DCE;text-decoration:none;}
a:hover {text-decoration:underline;}

#container {
min-height: 100%;
margin-bottom: -30px;
position: relative;
overflow:auto;
}

#header {background-color:#000;padding:6px 8px 4px 8px;height:20px;}

#logo {float:left;position:absolute;top:34px;margin-left:12px;}
#logo img {border:0;}
#menu_login {padding-left:14px;color:#E2E2E2;}
#menu_login a {margin:0 4px 0 4px;color:#E2E2E2;}
#menu_login a .actif {font-weight:bold;color:yellow;}
#menu_login a:hover {}

#menu_login .item_mur_site {float:left;}
#menu_login .item_login {float:right;}



#box_add_flux {
background-color:#F4F2EE;
border-bottom:1px solid #DBD5CD;
padding:4px 0 4px 300px;
height:64px;
}

#box_add_flux div {
padding:20px 10px 0 0 ;
}

#box_add_flux div a {margin-left:10px;}

#main {
clear:both;
height:1%;
width:100%;
}

#colonne {
float: left;
width: 280px; /*Width of left column*/
padding:10px;

}

#contenu {
margin-left: 300px; 
padding:10px;
}

#contenu_unique {
padding:10px;
}


.col {clear:both;overflow:auto;margin:2px 0 2px 0;}

.item_content {width:600px;position:relative;}
.item_content img {width:auto;}

.item_wall {width:600px;position:relative;border-bottom:1px dotted #DBD5CD;padding:8px 0 8px 0;}
.item_wall  h3 {margin:0 0 8px 0;padding:0;font-size:100%;}

.box_col {margin:12px 0 12px 0;height:1%;overflow:auto;width:590px;}


#footer {
background-color:#000;;
padding:6px 8px 4px 8px;
height:20px;
color:#D1D1D1;
font-size:80%;
position:relative;
/* hauteur total 80px, voir #container et .clearfooter */
}
#footer a {color: #D1D1D1;}

.clearfooter {height:30px;clear:both;}


/* Definition des bloc d'info */

.box {margin-bottom:20px;}
.box .haut h2 {color:#000;font-size:120%;margin:10px 0 10px 0;font-family:arial, helvetica, no-serif;}
.box .cont a:hover {}

#colonne .box .haut h2 {color:#B0B0B0;border-bottom:1px solid #DBD5CD;padding-bottom:6px;margin-bottom:6px;}
#colonne .box .cont {line-height:1.6em;}




/*
Definition des boox de type message
*/

.box_error, .box_alert, .box_confirm, .box_info {margin:8px 0 8px 0;padding:8px;padding-left:40px;border-top:1px solid;border-bottom:1px solid;}
.box_focus, .box_code {margin:8px 0 8px 0;padding:8px;}

.box_info {background:url(commun/ilu_info.png) 12px 8px no-repeat #FCFBF8;border-color:#EFEBE3;}
.box_error {background:url(commun/ilu_error.png) 8px 4px no-repeat #FEE8E8;color:#F20C0C;border-color:#F20C0C;}
.box_alert {background:url(commun/ilu_alert.png) 8px 4px no-repeat #FEFEE4;color:#EC8B00;border-color:#FFD639;}
.box_confirm {background:url(commun/ilu_confirm.png) 8px 4px no-repeat #EFFBCF;color:#108203;border-color:#BCE166;}

.box_focus {color:#FF5B13;border:1px solid #FFD639;background-color:#FAFBB7;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.box_code {border:1px dotted #D1D1D1;background-color:#F8F8F8;font-family:courier, sans-serif;font-size:90%;overflow:auto;}


/*
table
*/

table {width:100%;border-collapse:collapse;font-size:90%;margin:8px 0 8px 0;}
table th {background-color:#C5BFB7;color:#FFFFFF;padding:6px;font-weight: bold;padding:4px;border-bottom:1px solid #645C4F;text-align:left;}
table td {padding:6px 0 6px 6px;}
table tr {/*border-bottom:1px solid #F0E8DE;*/}
table tr:hover {background-color:#FCFBEE;}
.bgcolor01 {background-color:#ffffff;}
.bgcolor02 {background-color:#F1E8DD;}

/*
form
*/

.ff, .box_deco {border:1px solid #DBD5CD;padding:10px;background-color:#F4F2EE;margin:10px 0 10px 0}

form label {width:200px;display:inline-block;margin:2px;padding:4px;vertical-align:top;}
input, textarea, select {padding:3px;border:1px solid #DBD5CD;}
input:focus, textarea, select {border:1px solid #2C6DCE;}

textarea {font-family:verdana, helvetica, arial, sans-serif;font-size:90%;}
form hr {height:1px; border:0; border-bottom:1px solid #FFFFFF;}

.submit, .a_btn, .a_btn_nav {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding:4px;
cursor:pointer;
text-transform:uppercase;
font-size:90%;
font-weight:bold;
text-decoration:none;
color:#ffffff;
border:1px solid #7D7D7D;
background:url(commun/back-btn.png) top left repeat-x #536E76;
}

.a_btn_nav {
font-weight:normal;
background-image:none;
background-color:#F3F7FD;
border:1px solid #E0EAF8;
color:#2C6DCE;
}

.a_btn_nav:hover {
background-color: #EEF4FC;
}

#colonne .a_btn_nav {
width:270px;
display:block;

}

.a_btn {display:inline-block;}
.submit:hover, .a_btn:hover {background-image:none;background-color:#B1B1B1;}

#colonne .submit, #colonne .a_btn {
padding:2px;
font-size:80%;
margin:4px 0 4px 0;
}

.box .cont a.a_btn {color:#ffffff;}

/*
commun
*/

.align_right {text-align:right;}
.align_center {text-align:center;}
.align_left {text-align:left;}
.align_justify {text-align:justify;}

.float_left {float:left;}
.float_right {float:right;}



.clear {clear:both;}

.discret{color: #AAAAAA;font-size: 90%;}
.breadcrumbs {margin:8px 0 8px 0;padding:8px 0 8px 0;}

.ul_lien {margin:0;padding:0;list-style-type: none;}
.ul_lien li {}
.ul_lien li a {color:#2C6DCE;display:block;padding:4px;}

#colonne .ul_lien li a:hover {background-color:#FCFBEE;}
#colonne hr {border:0;height:1px;border-bottom:1px solid #F8F2EC;}


.discret {
font-size:80%;
color:#B2B2B2;
}


/* CSS Eric a nettoyer */

.site{
	max-width: 200px;
	color: #4D4D4D;
	
}

.site a{
	color: #4D4D4D;
}

.lien a {
}




.tag a {
}



.nom_user {color:#ffffff;font-weight:bold;}




