body,hr,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-size:inherit;font-weight:inherit;}
input,textarea,select,.a_btn{font-size:90%;font-family:arial, helvetica, sans-serif;}
legend{color:#000;}


html  { font-size: 100%; }

body {
font-family:arial, helvetica, sans-serif;
font-size:0.80em;
color:#4D4D4D;
background-color:#FFF;
}


.wrap {min-width:980px;max-width:1100px;margin:0 auto 0 auto;padding:0 12px 0 12px;

}

p {line-height:1.4em;margin:4px 0 4px 0;}

h1, h2, h3 {font-family:arial, helvetica, sans-serif;}

h1 {font-weight:bold;font-size:120%;color:#878787;margin:20px 0 10px 0;color:#023C76;}
h2 {}
h3 {}
hr {
border:0;
border-bottom:1px solid #fff;
border-top:1px solid #ECECEC;
margin:8px 0 4px 0;
}



a {color:##2C71B3;text-decoration:none;}
a:hover {color:#0E86F6;text-decoration:none;}


#container {
position:relative;

}


#global_main {
background-color:#fff;
clear:both;
}


#main {
overflow:auto;
}



#contenu {
margin-left: 280px;
}

#colonne {
float:left;
border-right:1px solid #E6E6E6;
margin-top:20px;
padding-right:10px;
min-height:440px;
width:260px;
}


.contenu_min {margin-left: 420px !important;}
.colonne_max {width:400px !important;}






#header {
background:url(commun/back_header.png) repeat-x #000;
height:40px;
}

#logo {position:relative;top:10px;float:left;width:240px;}
#addflux {float:left;width:380px;padding-top:6px;}
#addflux input.recherche {width:300px;padding:5px 5px 5px 28px;border:1px solid #fff;color:#9C9C9C;background:url(commun/ilu_addflux.png) 2px 1px no-repeat #fff;}
#addflux input.btn_go {cursor:pointer;color:#fff;background:#000;height:26px;margin:0;padding:0;border:1px solid #000;font-size:80%;}

#addflux input.recherche:focus {color:#1B8BF3;}
#addflux input.btn_go:hover {background:#1B8BF3;border:1px solid #1B8BF3;}

#menu {float:right;position:relative;}

#menu ul {}
#menu ul li {float:left;padding-top:8px;}
#menu ul li a {color:#BFD7ED;display:block;border:0;padding:2px;margin:0 4px 0 4px;}
#menu ul li a.option {background:url(commun/fleche_option.png) right no-repeat transparent;padding-right:14px;} 
#menu ul li a:hover {text-decoration:none;color:#fff;}






.blog_option {width:300px;float:right;}
.blog_option ul {float:right;margin-top:2px;}
.blog_option ul li {float:left;}
.blog_option ul li a, .blog_option ul li form .submit  {
color:#959595;
display:block;
margin-left:10px;
padding:2px 6px 2px 6px;
border:1px solid transparent;
background:transparent;
font-weight:normal;
}

.blog_option ul li a.option {background:url(commun/fleche_bas.png) right no-repeat transparent;padding-right:14px;}
.blog_option ul li a:hover, .blog_option ul li form .submit:hover {background:#F8F8F8;border:1px solid #E6E6E6;color:#959595;cursor:pointer;}
.blog_option ul li a.option:hover {background:url(commun/fleche_bas.png) right no-repeat #F8F8F8;}


/* bloc Blog */

.info_blog h2 img {
width:16px;
padding:0;
margin-right:4px;
float:left;
}


/* liste billet */

.liste_billet {
clear:left;
min-height:64px;
border-bottom:1px solid #E6E6E6;
padding:0 0 0 0;
line-height:0.8em;
}

.liste_billet:hover {
background:#F5FAFF;
border-bottom:1px solid #D3EAFF;
}

.liste_billet .img {
float:left;
width:64;
max-height:90px;
}

.liste_billet .info {
margin-left:70px;
}

.liste_billet .info .lien a {font-weight:bold;color:#2C71B3;}
.liste_billet .info .lien a:hover {color:#0E86F6;}
.liste_billet .info .extrait {color:#959595} 
.liste_billet .info .date {font-size:80%;}


/* Page Billet */

.info_billet, .navigation_billet  {
background-color:#F8F8F8;
border:1px solid #E6E6E6;
padding:0px 10px 6px 10px;
overflow:auto;
}

.info_billet {
margin-top:-2px;
}

.info_billet hr, .navigation_billet hr {clear:both;margin:4px 0 4px 0;}

.billet_titre {float:left;}
.billet_titre span {font-size:90%;color:#B0B0B0;margin-left:4px;}


.billet_option {}
.billet_option ul {}
.billet_option ul li {float:left;margin-left:10px;}

.info_billet .billet_option {float:right}
.info_billet .billet_option ul {margin-top:8px}

.billet {text-align:justify;line-height:1.6em;font-family:verdana, arial, helvetica, sans-serif;}

.navigation_billet {
padding:8px 10px 10px 10px;
}





/* footer */

#footer {
clear:both;
background-color:#F8F8F8;
border-top:1px solid #E6E6E6;
margin-top:20px;
padding:10px;
}




/* box */



.box {margin-bottom:10px;}


#contenu .box {padding:10px 10px 10px 0;}

#colonne .box {clear:both;}
#colonne .box h2 {color:#959595;border-bottom:1px solid #E6E6E6;padding:8px;background:#F8F8F8;}
#colonne .box ul.ul {margin:6px 0 14px 0;}
#colonne .box ul.ul li a {display:block;padding:6px 0 6px 0;border:1px solid #fff;}
#colonne .box ul.ul li a:hover {padding-left:2px;}




/* suiv prec */

.box_suiv_prec {
padding:2px 0 8px 0;
height:1%;
overflow:auto;
font-weight:bold;
font-size:86%;
}



.box_suiv_prec .prec {float:left;width:32%;margin:1px;display:block;text-align:left;}
.box_suiv_prec .milieu {float:left;width:33%;text-align:center;margin:2px;}
.box_suiv_prec .suiv {float:right;width:32%;margin:1px;display:block;text-align:right;}

.prec a {background:url(commun/fleche_prec.png) left no-repeat;padding-left:10px;}
.suiv a {background:url(commun/fleche_suiv.png) right no-repeat;padding-right:10px;}

.box_suiv_prec a:hover {color:#959595;text-decoration:underline;}

/* divers */

.site_list {margin:10px 0 0 20px;}
.site_list li a {display:block;padding:3px 0 3px 4px;}
.site_list li a img {position:relative;top:1px;margin-right:4px;width:16px;height:16px;}
.site_list li a:hover {text-decoration:none;}


/*
.bloc_off {
width:220px;
overflow: hidden;
border:1px solid transparent;
}

.bloc_on {
width:300px;
overflow: auto;
border:1px solid #E6E6E6;
padding:10px;
}
*/

/*
#billet_list_table {overflow: hidden;}
*/






#option_menu {
position:absolute;
background-color:#414141;
border:1px solid #000;
top:34px;
right:0;
width:246px;
}


#option_menu ul {}
#option_menu ul li {float:none;padding:0;margin:0;}
#option_menu ul li hr {margin:0;border-top:1px solid #000;border-bottom:1px solid #6F6F6F;}
#option_menu ul li a {display:block;padding:8px 0 8px 8px;margin:0;color:#D4D4D4;}
#option_menu ul li a:hover {color:#FFF;background:#2E2E2E;}


#tags_menu {
position:absolute;
background-color:#fff;
border:1px solid red;
height:200px;
top:150px;
width:246px;
padding:10px;
}
}

/* table */

table {border:0;width:100%;margin:4px 0 4px 0;}
th, td {padding:8px 4px;border-bottom:1px solid #E6E6E6;}
tr:hover {background:#F8F8F8;}
td.favicon {width:16px;padding-left:0;}
td.blog {width:160px;}
td.tag {width:140px;}
td.date {width:20px;color:#2D72B4;font-size:90%;}




/* FORM */
form {}

form.ff {
background:#F8F8F8;
border:1px solid #E6E6E6;
padding:10px;
width:600px;
}

/*
form.ff p {
margin:0 6px 0 6px;
padding:6px 0 6px 240px;
}
*/
/*
form.ff label {
float: left;
margin-left: -240px;
width: 230px;
padding-top:4px;
}

form.ff label.case {

}
*/

form.ff input[type="text"], form.ff input[type="password"] form.ff textarea, .input_file {width:50%;border:1px solid #E6E6E6;}
form.ff input[type="checkbox"] {border:1px solid red;margin:10px 0;}

form.ff select {width:48%;border:1px solid #E6E6E6;}
form.ff textarea {height:150px;}
form.ff option {padding:3px;}

form.ff h2 {
font-weight:bold;
}




select, input, textarea {
border:1px solid #899caa;
color:#3a454d;
font-weight:bold;
padding:8px;
margin:0 0 8px 0;
}
select {padding:7px 4px 3px 4px;} 
option {padding:2px;}


.ff .submit, .a_btn {
background: url(commun/btn.png) repeat-x transparent;
border: 1px solid #B3B2B2;
color: #545454;
margin-bottom: 1px;
padding: 3px 10px 5px 10px;
font-weight:bold;
cursor:pointer;
font-size:86%;
margin:4px 0 4px 0;
}

.a_btn {padding: 4px 10px 6px 10px;}

.ff .submit {margin-right:26px;}

.ff .submit:hover, .a_btn:hover, .billet_option ul li a:hover {
background-position:0 -40px;
color:#000;
text-decoration:none;
}

/* box_info */

.box_info {
border:1px solid blue;
margin:10px 0 10px 0;
padding:10px;
}

.box_alert {
border:1px solid orange;
margin:10px 0 10px 0;
padding:10px;
}

/* element std */

.align_right {text-align:right;}
.align_center {text-align:center;}

.clear {clear:both;}
.w200 {width:200px;}
.discret {color:#959595;}

.a_deco {text-decoration:underline;}
.a_deco:hover {text-decoration:none;}



/* tooltip */

#tooltip {
background: url(commun/back_tooltip.png) repeat-x;
border:1px solid #F0C78B;
position:absolute;
text-align: center;
padding:8px;
z-index: 2;
line-height:1.2em;
display: none;

}


/* FAQ */

.faq_question {padding-left:10px;cursor:pointer;height:24px;}
.faq_question:hover {color:#000;} 
.faq_reponse {background-color:#FFF;padding:8px;text-align:justify;border:1px solid #ECECEC;}


/* TEST */
