body,hr,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-size:inherit;font-weight:inherit;}
input,textarea,select,.a_btn{font-size:90%;font-family:arial, helvetica, sans-serif;}
legend{color:#000;}


html  { font-size: 100%; }

body {
font-family:arial, helvetica, sans-serif;
font-size:0.80em;
color:#4D4D4D;
background-color:#FFF;
}


.wrap {min-width:980px;max-width:1100px;margin:0 auto 0 auto;padding:0 12px 0 12px;}

p {line-height:1.4em;margin:4px 0 4px 0;}

h1, h2, h3 {font-family:arial, helvetica, sans-serif;}

h1 {font-weight:bold;font-size:120%;color:#878787;margin:20px 0 10px 0;color:#023C76;}
h2 {font-weight:bold;}
h3 {}
hr {
border:0;
border-bottom:1px solid #fff;
border-top:1px solid #ECECEC;
margin:8px 0 4px 0;
}



a {color:#2C71B3;text-decoration:none;}
a:hover {color:#0E86F6;text-decoration:none;}


#container {
position:relative;

}


#global_main {
background-color:#fff;
clear:both;
}


#main {
overflow:none;
}



#contenu {
margin-left: 200px;
}

#colonne {
float:left;
border-right:1px solid #E6E6E6;
margin-top:20px;
padding-right:10px;
min-height:440px;
width:180px;
}


.contenu_min {margin-left: 420px !important;}
.colonne_max {width:400px !important;}






#header {
background:url(commun/back_header.png) repeat-x #000;
height:40px;
}

#logo {position:relative;top:10px;float:left;width:240px;}
#addflux {float:left;width:380px;padding-top:6px;}
#addflux input.recherche {width:300px;padding:5px 5px 4px 28px;border:1px solid #fff;color:#9C9C9C;background:url(commun/ilu_addflux.png) 2px 1px no-repeat #fff;}
#addflux input.btn_go {cursor:pointer;color:#fff;background:#000;height:26px;margin:0;padding:0;border:1px solid #000;font-size:80%;}

#addflux input.recherche:focus {color:#1B8BF3;}
#addflux input.btn_go:hover {background:#1F5485;border:1px solid #1F5485;}

#menu {float:right;position:relative;}

#menu ul {}
#menu ul li {float:left;padding-top:8px;}
#menu ul li a {color:#E3F1FF;display:block;border:0;padding:2px;margin:0 4px 0 4px;}
#menu ul li a.option {background:url(commun/fleche_option.png) right no-repeat transparent;padding-right:14px;} 
#menu ul li a:hover {text-decoration:none;color:#fff;}







/* bloc Blog */
.info_blog {
background:#fff;
border-bottom:1px solid #E6E6E6;
margin-bottom:8px;
overflow:auto;
}


.info_blog h2  {
font-weight:bold;
margin-top:4px;
max-width:250px;
padding-bottom:4px;
float:left;

}

.info_blog h2 img {
width:16px;
padding:0;
margin-right:4px;
float:left;
}

.btn_retour {opacity:0.7;float:left;}
.btn_retour:hover {opacity:1;}


.blog_option {float:right;}
.blog_option ul {height:24px;overflow:none;}
.blog_option ul li {float:left;}
.blog_option ul li a, .blog_option ul li input {
padding:4px;
color:#959595;
display:block;
border:1px solid transparent;
background:transparent;
font-weight:normal;
}


.blog_option ul li a:hover, .blog_option ul li input:hover {background:#F8F8F8;border:1px solid #E6E6E6;color:#959595;cursor:pointer;}

/*
.blog_option ul li a.option {background:url(commun/fleche_bas.png) right no-repeat transparent;}
.blog_option ul li a.option:hover {background:url(commun/fleche_bas.png) right no-repeat #F8F8F8;}
*/

/* mur */
.item_wall {}

/* liste billet */

.liste_billet {
border-bottom:1px solid #E6E6E6;
padding:6px 0 6px 0;
line-height:0.8em;
overflow:hidden;
cursor:pointer;
height:80px;
}

.liste_billet:hover {background:#F5FAFF;border-bottom:1px solid #D3EAFF;}

.liste_billet .img {text-align:right;float:left;}


.liste_billet .info {
margin-left:134px;
}

.liste_billet .info p {
margin:0;
}

.liste_billet .info .lien a {font-weight:bold;color:#2C71B3;line-height:1.2em;}

.liste_billet .info .extrait {color:#959595;font-size:85%;text-align:justify;} 
.liste_billet .info .date {font-size:85%;font-weight:bold;}


.billet_actif, .billet_actif:hover {background:url(commun/back_billet_actif.png) top right no-repeat #F8F8F8;padding:6px 6px 6px 0;}

.billet_actif .info .lien a, .billet_actif .info .lien a:hover {color:#0E86F6;}
.billet_actif .info .extrait {color:#2C71B3;} 
.billet_actif .info .date {color:#FF4000;}



/* Page Billet */

.info_billet, .navigation_billet  {
background-color:#F8F8F8;
border:1px solid #E6E6E6;
padding:0px 10px 6px 10px;
overflow:auto;
}

.info_billet {
margin-top:-2px;
}

.info_billet hr, .navigation_billet hr {clear:both;margin:4px 0 4px 0;}

.billet_titre {float:left;}
.billet_titre span {font-size:90%;color:#B0B0B0;margin-left:4px;}


.billet_option {}
.billet_option ul {}
.billet_option ul li {float:left;margin-left:10px;}
.billet_option ul li input.quoideneuf {padding:5px;margin-top:2px;}

.info_billet .billet_option {float:right}
.info_billet .billet_option ul {margin-top:8px}

.billet {text-align:justify;line-height:1.6em;font-family:verdana, arial, helvetica, sans-serif;}
.billet .date {font-size:85%;font-weight:bold;text-align:right;}
.billet img {margin:4px 0 4px 0;}
.navigation_billet {
padding:8px 10px 10px 10px;
}





/* footer */

#footer {
clear:both;
background-color:#F8F8F8;
border-top:1px solid #E6E6E6;
margin-top:20px;
padding:10px;
}




/* box */



.box {margin-bottom:10px;}


#contenu .box {padding:10px 10px 10px 0;}

#colonne .box {clear:both;}
#colonne .box h2 {color:#959595;border-bottom:1px solid #E6E6E6;padding:8px;background:#F8F8F8;}
#colonne .box ul.ul, #colonne .box ul.ul_tag  {margin:6px 0 14px 0;}
#colonne .box ul.ul li a, #colonne .box ul.ul_tag li a {display:block;padding:6px 0 6px 0;border:1px solid #fff;}
#colonne .box ul.ul li a:hover, #colonne .box ul.ul_tag li a:hover {font-weight:bold;}
#colonne .box ul.ul_tag li a {background:url(commun/ilu_tag.png) 0 6px no-repeat #ffffff;padding-left:20px;}



/* Definition des boites de type messages */

.box_error, .box_alert, .box_confirm, .box_info {
min-height:18px;
margin:8px 0 8px 0;
padding:8px 8px 8px 28px;
border:1px solid;
}

.box_error {background:url(commun/ilu_error.png) left no-repeat #FFAF99;border-color:#F38567;}
.box_alert {background:url(commun/ilu_alert.png) left no-repeat #FFE88B;border-color:#FDC46B;}
.box_confirm {background:url(commun/ilu_confirm.png) left no-repeat #C7FA6E;border-color:#9BE024;}
.box_info {background:url(commun/ilu_info.png) left no-repeat #D1F1FD;border-color:#7ED1F0;}





/* suiv prec */

.box_suiv_prec {padding:2px 0 8px 0;height:1%;overflow:auto;font-weight:bold;font-size:86%;}
.box_suiv_prec .prec {float:left;width:32%;margin:1px;display:block;text-align:left;}
.box_suiv_prec .milieu {float:left;width:33%;text-align:center;margin:2px;}
.box_suiv_prec .suiv {float:right;width:32%;margin:1px;display:block;text-align:right;}

.prec a {background:url(commun/fleche_prec.png) left no-repeat;padding-left:10px;}
.suiv a {background:url(commun/fleche_suiv.png) right no-repeat;padding-right:10px;}

.box_suiv_prec a:hover {color:#2C71B3;text-decoration:underline;}

/* divers */

.site_list {margin:10px 0 0 20px;}
.site_list li a {display:block;padding:3px 0 3px 4px;}
.site_list li a img {position:relative;top:1px;margin-right:4px;width:16px;height:16px;}
.site_list li a:hover {text-decoration:none;}


/*
.bloc_off {
width:220px;
overflow: hidden;
border:1px solid transparent;
}

.bloc_on {
width:300px;
overflow: auto;
border:1px solid #E6E6E6;
padding:10px;
}
*/

/*
#billet_list_table {overflow: hidden;}
*/






#option_menu {
position:absolute;
background-color:#414141;
border:1px solid #000;
top:34px;
right:0;
width:246px;
}


#option_menu ul {}
#option_menu ul li {float:none;padding:0;margin:0;}
#option_menu ul li hr {margin:0;border-top:1px solid #000;border-bottom:1px solid #6F6F6F;}
#option_menu ul li a {display:block;padding:8px 0 8px 8px;margin:0;color:#D4D4D4;}
#option_menu ul li a:hover {color:#FFF;background:#2E2E2E;}


#tags_menu {
position:absolute;
background-color:#fff;
border:1px solid #E6E6E6;
height:200px;
top:90px;
width:246px;
padding:10px;
}

.btn_close {
cursor:pointer;
float:right;
width:20px;
height:20px;
margin:0;
background:url(commun/btn_close.png) no-repeat transparent;
}

.btn_close:hover {background-position:0 -20px;} 

/* table */

table, .box table {width:100%;margin:4px 0 4px 0;}
th, td {padding:8px 4px;border-bottom:1px solid #E6E6E6;}
tr:hover {background:#F8F8F8;cursor:pointer;}
td.favicon {width:16px;padding-left:0;}
td.blog, .box td.blog {width:160px;}
td.tag, .box td.tag {background:url(commun/ilu_tag.png) 0 8px no-repeat transparent; padding-left:20px;}
td.date, .box td.date {color:#4D4D4D;font-size:85%;font-weight:bold;width:100px;text-align:right}
td.lien, .box td.lien {}


/* FORM */
form {}

form.ff, .box_gris {
background:#F8F8F8;
border:1px solid #E6E6E6;
padding:10px;
width:600px;
margin-bottom:18px;
}

.box_gris p {margin:10px 0 6px 0;}

form.ff input, form.ff textarea, .input_file, .quoideneuf {width:50%;border:1px solid #E6E6E6;}

.quoideneuf {width:60%;}

form.ff select {width:48%;border:1px solid #E6E6E6;}
form.ff textarea {height:150px;}
form.ff option {padding:3px;}

form.ff h2, .box_gris h2 {
font-weight:bold;
}




select, input, textarea {
border:1px solid #899caa;
color:#3a454d;
font-weight:bold;
padding:8px;
margin:0 0 8px 0;
}
select {padding:7px 4px 3px 4px;} 
option {padding:2px;}


.ff .submit, .a_btn {
background: url(commun/btn.png) repeat-x transparent;
border: 1px solid #B3B2B2;
color: #545454;
margin-bottom: 1px;
padding: 4px 10px 4px 10px;
font-weight:bold;
cursor:pointer;
font-size:86%;
margin:4px 0 4px 0;
max-width:160px;
}



.ff .submit {margin-right:26px;}

.ff .submit:hover, .a_btn:hover, .billet_option ul li a:hover {
background-position:0 -40px;
color:#000;
text-decoration:none;
}

/* element std */

.align_right {text-align:right;}
.align_center {text-align:center;}

.float_right {float:right;}
.float_left {float:left;}

.clear {clear:both;}
.w200 {width:200px;}
.w600 {width:622px;}
.discret {color:#959595;}

.a_deco {text-decoration:underline;}
.a_deco:hover {text-decoration:none;}

.haut_de_page {background:url(commun/fleche_haut.png) right no-repeat #ffffff;padding-right:14px;}
.haut_de_page:hover {text-decoration:underline;color:#2C71B3;} 

/* tooltip */

#tooltip {
background: url(commun/back_tooltip.png) repeat-x;
border:1px solid #F0C78B;
position:absolute;
text-align: center;
padding:8px;
z-index: 2;
line-height:1.2em;
display: none;

}


/* FAQ */

.faq_question {padding-left:10px;cursor:pointer;height:24px;}
.faq_question:hover {color:#000;} 
.faq_reponse {background-color:#FFF;padding:8px;text-align:justify;border:1px solid #ECECEC;}


/* TEST */
