
body {
	font-family: Georgia,Sans-serif;	
	color: #111111;
	line-height: 140%;
	margin: 0 auto 0;
	width: 900px;
	padding:0;
}

.petit{
	color: #AAAAAA;
	font-size: small;
	padding:0;
	margin:0;
}

.date{
	min-width: 100px;
}

.site{
	max-width: 200px;
}

.site a{
	text-decoration: none;
	color: #999999;
}

.lien a {
	text-decoration: none;
}

.temps{
	text-align: center;
	font-size: small;
	color: #AAAAAA;
}

.bouton {
	text-align: center;
	font-size: xx-small;
	padding:0;
	margin:0;
}
